* {
    font-family: 'Sarabun', sans-serif;
}

@media screen and (max-width: 980px) {
    #workHistory {
        margin-top: 10px;
        margin-right: 5px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    #hobbies {
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    }
} 

@media screen and (max-width: 768px) {
    #profpic {
        max-width: 200px;
        position: absolute;
    }   
   #aboutCard {
       margin-left: 205px
    }
    #workHistory {
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    #hobbies {
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
} 

@media screen and (max-width: 640px) {
    #aboutCard {
        margin-left: 205
    }
    #profpic {
        position: absolute;
    }
} 