* {
    font-family: 'Sarabun', sans-serif;
}

/* navbar item separating lines */
.nav-item {
    border-right-width: 1px;
    border-color: lightgray;
    border-right-style: solid;
}
.last-nav {
    border-style: none;
}

/* formatting based on screen size */
@media screen and (max-width: 980px) {  
    
} 

@media screen and (max-width: 768px) {
    
} 

@media screen and (max-width: 640px) {

}